div .row {
  /* some of the images/text smaller so carousel height shrinking and looks jerky - this will make sure it is always 40% of vieport height so smaller image wont shrink it*/
  min-height: 50vh;
}

 /* without this the focus border remains on the carousel when clicked */
*:focus {
    outline: none;
    border: 0;
}